.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 6rem; */
  height: 90vh;
}
.footer {
  /* grid-template-columns: 1fr; */
  bottom: 0px;
  left: 0px;
  /* max-width: 320px; */
  text-align: center;
  color: gray;
  height: auto;
}

.containerLinkInsta {
  color: var(--rosa-padrao);
}

.containerIconeSocialMidia {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.containerIconeSocialMidia > div:first-child {
  margin-top: 5px;
  margin-right: 10px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  bottom: 0;
  left: 0;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
